

/*====================================================================
                        Trail Section 
======================================================================*/
.main_trial_area{
    background: url(../images/parallax-bg2.jpg) no-repeat top center;
    overflow: hidden;
    background-size: cover;
    color:#fff;
    min-height: 225px;
    padding: 20px;
}
.main_trial h2{
    text-transform: none;
    font-weight: 400;
}
.main_trial h2 span{
    font-weight: 700;
}
.main_trial h4{
    font-weight: 400;
    text-transform: none;
}

.main_trial{
    width: 100%;
}

.main_trial p {
    font-size: 1.5em;
    line-height: 1.4;
color: #999;
}

#trial
{
  padding: 0px!important;
}

#home h1 {
    text-transform: uppercase;
    font-size: 2em;
}





/*=========================== 
20. contact page
============================= */
.contact-area {
  padding: 50px 0;
}
.contact-info{}
.contact-info h3, .contact-form h3 {
  border-bottom: 2px solid #e8e8e9 !important;
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding-bottom: 8px;
}
.contact-info h3:before{content: "";
display: inline-block;
font-family: FontAwesome;
margin-right: 5px;
vertical-align: text-bottom;}
.contact-info ul{}
.contact-info ul li{border-bottom: 1px solid #e8e8e9;
float: left;
font-size: 12px;
line-height: 40px;
list-style: outside none none;
margin: 0;
padding: 0;
width: 100%;
}
.contact-info ul li i{font-size: 16px;
margin-right: 5px;
width: 20px;}
.contact-info ul li a{}
.contact-form{}
.contact-form h3 {
  margin-bottom: 30px;
}
.contact-form input[type="text"], .contact-form input[type="email"] {
  border: 1px solid #ccc;
  border-radius: 0;
  height: 50px;
  padding-left: 20px;
  width: 100%;
  margin-bottom: 16px;
}
.contact-form textarea#message{border: 1px solid #ccc;
border-radius: 0;
height: 180px;
padding: 20px;
width: 100%;}
.contact-form input[type="submit"] {
  background: #1e442f none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  padding: 0 15px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  margin-top: 16px;
}
.contact-form input[type=submit]:hover{background:#ffc300}



/*-- testimonials --*/
.testimonials{
    background: url(../images/parallax-bg2.jpg) no-repeat 0px 0px;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;

  width: 100%;
  position: relative;

}
.agileits_w3layouts_testimonials_grid{
  text-align:center;
  position:relative;
}
.agileits_w3layouts_testimonials_grid img{
  margin:0 auto;
}
.wthree_test_social_pos{
  position:absolute;
  top:0%;
  right:38.5%;
}
.w3_agileits_social_list1 li{
  display:inline-block !important;
}
.wthree_test_social_pos li a{
  color:#fff;
  font-size:1em;
  width:30px;
  height:30px;
  border-radius:30px;
  display:block;
}
.wthree_test_social_pos li a i {
    line-height: 2.2em;
}
.w3_agile_facebook1{
  background:#3b5998;
}
.agile_twitter2{
  background:#1da1f2;
}
.w3_agile_dribble3{
  background:#ea4c89;
}
.agile_testimonials_grid{
  text-align:center;
}
.agile_testimonials_grid h3{
  margin:1em 0;
  color:#ffc300;
  font-size:1.2em;
  text-transform:uppercase;
}
.agile_testimonials_grid p{
    width: 70%;
    margin: 0 auto;
    color: #fff;
    line-height: 2em;
    letter-spacing: 1px;
}


.agileits_w3layouts_testimonials_grid img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}




.test-heading h3 {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 1em;
    text-align: center;
    position: relative;

}

#testimonials::before {
    position: absolute;
background: rgba(42, 35, 31, 0.7);
content: " ";
top: 0;
bottom: 0;
width: 100%;
height: 100%;
}

.flexslider {
    border: 0px;
    position: relative;
    zoom: 1;
    padding-bottom: 3em;
}


/*-- //testimonials --*/