
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
	font-family: 'Roboto', sans-serif;
}
body{
	background:#FFFFFF;
}


p
{
    text-align: justify;
}
/*-- banner --*/
.banner{
	background:url(../images/2.jpg) no-repeat 0px 0px;
	background-size:cover;
}
/*-- header-left --*/
.header-top-grids {
    padding: 0em;
}
.header {
    padding: 1em 0;
    border: solid 1px rgba(255, 255, 255, 0.33);
    border-bottom: none;
    background: #20191980;
}
.header-left{
    text-align: center;
}
.agileinfo-social-grids{
    margin: 1.2em 0 0 0;
    float: left;
    width: 30%;
}
.agileinfo-social-grids ul {
    padding: 0;
    margin: 0;
}
.agileinfo-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.agileinfo-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}
.agileinfo-social-grids ul li a i.fa{
    font-size: 1em;
    color: #ffffff;
    background: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
    color: #3b5998;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter:hover{
	color: #1da1f2;
}
.agileinfo-social-grids ul li a i.fa.fa-rss:hover{
	color: #f26522;
}
.agileinfo-social-grids ul li a i.fa.fa-vk:hover{
	color: #45668e;
}
.w3layouts-logo{
	float:left;
	width:40%;
}
.w3layouts-logo h1 {
    margin: 0;
}
.w3layouts-logo h1 a {
    color: #ec8d25;
    font-size: 1.3em;
    text-decoration: none;
    text-transform: uppercase;
}
.w3layouts-logo h1 a span{
    color: #ffffff !important;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
.address-info-text{
	float:left;
	width:30%;
}
.address-info-text p{
    color: #FFFFFF;
    font-size: .9em;
    margin: 1.2em 0 0 0;
    text-align: center;
}
/*-- //header-left --*/
/*-- top-nav --*/
.top-nav-info {
    padding: 0 15em;
    background: #20191980;
}
.top-nav{
    border: solid 1px rgba(255, 255, 255, 0.33);
}
.top-nav ul{
    padding: 0;
    margin: 0;
}
.top-nav ul li{
    display: inline-block;
    float: left;
    width: 20%;
}
.top-nav ul li:nth-child(6){
	margin-right:0;
}
ul.nav.navbar-nav {
    float: none;
    text-align: center;
    background: none;
}
.navbar-default{
    background: none;
    border: none;
    margin: 0;
}
.navbar {
    min-height: 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none;
    box-shadow: 1px 0px 0px 0px rgba(72, 72, 72, 0);
    outline: none;
}
.top-nav ul li a{
    color: #ffffff !important;
    font-size: 1em;
    margin: 0;
    text-decoration: none;
    padding: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.top-nav ul li a.list-border{
	border-left: none;
}
.top-nav ul li a:hover{
    color: #ec8d25 !important;
}
.top-nav ul li a.active{
    color: #e9c600 !important;
    background: none;
}
ul.dropdown-menu {
    background: #ec8d25;
    box-shadow: 0 0 0;
    border: none;
    margin: 0;
    top: 3.8em;
    left: 0px;
    min-width: 173px;
}
ul.dropdown-menu li{
	width:100% !important;
}
.dropdown-menu > li > a {
    display: block;
    padding: .5em 1em !important;
    text-align: center;
    clear: both;
    margin: .2em 0 !important;
    font-weight: normal;
    line-height: 1.42857143;
    color: #FFF !important;
    border: none !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #FFFFFF;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 103%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-width: 5px 0 5px 5px;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*-- //top-nav --*/
/*-- w3layouts-slider --*/
.w3layouts-slider {
    padding: 8em 0;
}
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
	position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: 109px;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 50px;
    height: 50px;
}
.callbacks_nav.next {
	left: auto;
    background-position: right top;
    right: 0;
 }
 .callbacks_nav.prev {
	right: auto;
	background-position:left top;
	left:0;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
	list-style: none;
    position: absolute;
    top: 120%;
    left: 48%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 999;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
    display: inline-block;
    margin: 0;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 10px;
    width: 10px;
    display: inline-block;
	background: rgba(255, 255, 255, 0.14);
    border: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
    background: #ec8d25;
    border: 2px solid #ec8d25;
}
/*-- //slider --*/
.agileits-banner-left {
    text-align: center;
}
.agileits-banner-left h3{
    color: #FFD800;
    font-size: 3em;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}
.agileits-banner-left h4{
	color: #FFFFFF;
    font-size: 1em;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: .5em 0 0 0;
}
.agileinfo-banner-right{
	text-align:center;
}
.agileinfo-banner-right h5{
    color: #FFFFFF;
    font-size: 1em;
    margin: 0 0 1em 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.agileinfo-banner-right p{
    color: #FFFFFF;
    font-size: .9em;
    line-height: 1.8em;
    margin: 0 auto;
    width: 75%;
}
.banner-border{
    height: 1px;
    background: #FFFFFF;
    width: 14%;
    margin: 3em auto 2em;
}
.w3-button {
	margin: 0;
    padding: 1em;
    z-index: 1;
    text-align: center;	
}
.w3-button a {
    color: #FFFFFF;
    font-size: .9em;
    padding: .5em 1em;
    border: solid 1px #FFFFFF;
    text-decoration: none;
    margin: 0;
    background: none;
    text-transform: uppercase;
}
.w3-button a:hover{
    background: #ec8d25;
    border: solid 1px #ec8d25;
	color:#212121;
}
.w3-button a:focus{
	outline:none;
}
/*-- //w3layouts-slider --*/
/*-- about --*/
.about-w3layouts,.services,.services-bottom,.testimonials,footer,.courses,.features,.team,.gallery,.codes,.typography,.blog,.contact{
	padding:2em 0;
}
.agileits-heading h2,.agileits-heading h3,.wthree-heading h2{
    color: #212121;
    font-size: 3em;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}
.about-top-grids,.services-grids,.wthree-services-bottom-grids,.wthree_testimonial_grids,.w3_agileits_features_grids,.agileinfo-team-grids{
    margin: 2em 0 0 0;
}
.w3-about-left h5 {
    color: #000000;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 0;
}
.w3-about-left p {
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: 1em 0 0 0;
}
.w3-about-left p span {
    display: block;
    margin: 1em 0;
}
.w3l-button {
    margin: 2em 0 1em 0;
}
.w3l-button a {
    color: #212121;
    font-size: .9em;
    text-decoration: none;
    padding: .5em 2em;
    background: none;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    border: solid 1px #000000;
}
.w3l-button a:hover {
	background: #ec8d25;
    border: solid 1px #ec8d25;
    color: #212121;
}
ul.resp-tabs-list {
    margin: 0 auto;
    text-align: center;
	float:none;
}
.about-bottom-agile{
	position:relative;
}

.agileits_updates_grid_right h3 {
    margin-bottom: 1em !important;
    color: #edad15;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 0;
}
/*--flexisel--*/
.flex-slider{	
	background:#222227;
	padding: 70px 0 165px 0;
}
.opportunity{
	background:#28282e;
	margin:0px 20px;
	padding:80px 0;
	position:relative;
}
#flexiselDemo1,#flexiselDemo2 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
	padding:2em 0;
    border-top: 1px solid #999;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
}
.nbs-flexisel-item {
	float: left;
	margin:0;
	padding:0;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 11px;
    height: 18px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
}
.nbs-flexisel-nav-left {
	left: 95%;
    top: -25% !important;
    background: url(../images/left-arrow2.png) no-repeat -6px;
}
.nbs-flexisel-nav-right {
	right: 0%;
    top: -25% !important;
    background: url(../images/right-arrow2.png) no-repeat -8px ;
}
/*--//flexisel--*/
.pa_italic i {
    left: -1em;
	font-size: 11px;
}
.pa_italic span {
    display: none;
}
.collapsed span {
    display: inline-block;
    left: -1em;
	font-size: 11px;
}
.collapsed i {
    display: none;
}
.panel-heading {
    padding:10px 15px;
}
.panel-title {
	font-size: 1em;
    color: #212121;
    text-transform: capitalize;
    text-decoration: none;
}
.panel-title a{
	text-decoration:none;
}
.panel-default {
    border-color: #FFF;
	background: #f5f5f5;
}
.panel-default > .panel-heading {
    border: solid 1px #dadada;
    color: #212121;
    background-color: #fff;
    border-radius: 3px;
}
.panel-body {
    padding: 1em;
    font-size: .9em;
    line-height: 2em;
    color: #5a5757;
    
}
a.pa_italic label {
    cursor: pointer;
	font-weight:500;
}
a.pa_italic:focus {
    outline: none;
    text-decoration: none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}
/*-- //about --*/
/*-- services --*/
.services{
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.services h3{
	color:#FFFFFF;
}
.wthree-services-grid{
	text-align:center;
}
.wthree-services-icon i.fa{
    font-size: 2em;
    padding: 1.3em;
    width: 120px;
    height: 120px;
    color: #ffffff;
    background: none;
    border: solid 2px #ffffff;
    border-width: 2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.wthree-services-info h5{
    color: #ec8d25;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 1em 0;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.wthree-services-info p{
	color:#808489;
	font-size:.9em;
	line-height:1.8em;
	margin:0;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.wthree-services-grid:hover .wthree-services-icon i.fa{
    background: #ec8d25;
    border: solid 2px #ec8d25;
    color: #212121;
}
.wthree-services-grid:hover .wthree-services-info h5{
	color:#FFFFFF;
}
.wthree-services-grid:hover .wthree-services-info p{
	color:#FFFFFF;
}
/*-- //services --*/
/*-- services-bottom --*/
.wthree-services-left img{
	width:100%;
}
.wthree-services-right-top h4{
	color: #212121;
    font-size: 1em;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: uppercase;
}
.wthree-services-right-top p{
	color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: 1em 0 0 0;
}
.services-right-bottom-bottom {
    margin: 0em 0 0 0;
}
.services-bottom-icon{
	float:left;
	width:10%;
}
.services-bottom-icon i.fa{
    color: #ec8d25;
    font-size: 2em;
}
.services-bottom-info{
	float:left;
	width:100%;
}
.services-bottom-info h5{
    color: #212121;
    font-size: 1em;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: uppercase;
}
.services-bottom-info p{
	color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: 1em 0 0 0;	
}
.w3-services-bottom{
	margin:2em 0 0 0;
}
/*-- //services-bottom --*/
/*-- testimonials --*/
.testimonials {
    background: #232a34;
}
.testimonials-heading h3{
	color:#FFFFFF;
}
.w3_agileits_header:after {
    left: 25% !important;
}
.agileinfo_testimonials_left{
	text-align:center;
}
.agileinfo_testimonials_left img{
    border: 3px solid #dedede;
    margin: 0 auto;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
}
.agileinfo_testimonials_left h4{
    font-size: 1em;
    color: #ec8d25;
    margin: 1em 0 0.3em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
}
.agileinfo_testimonials_left p{
    color: #999999;
    font-size: .9em;
    margin: 0;
}
.agileits_testimonials_right_grid{
    padding: 1.5em;
    position: relative;
    border: solid 1px rgba(153, 153, 153, 0.52);
}
.agileits_testimonials_right_grid:before{
	content: '';
    position: absolute;
    top: 35%;
    left: -3%;
    border-right: 10px solid #999;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.agileits_testimonials_right_grid p{
    color: #999;
    line-height: 1.8em;
    font-size: .9em;
    margin: 0;
}
.wthree_testimonial_grid_left {
    padding: 0;
}
.w3l_testimonial_grid_left_grid{
	margin-top:2em;
}
.w3_testimonials_right_grid:before {
    border-left: 10px solid #999;
    border-right: none !important;
    left: auto !important;
    right: -3% !important;
}
.wthree_testimonial_grid_right h3{
	font-weight: 600;
    line-height: 1.5em;
    color: #ffffff;
    font-size: 1em;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.wthree_testimonial_grid_right{
	text-align:right;
	margin-top:5em;
}
.wthree_testimonial_grid_right p{
    margin: 2em 0 0;
    color: #999;
    line-height: 1.8em;
    font-size: .9em;
}
/*-- //testimonials --*/
/*-- footer --*/
footer{
    background: url(../images/2.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #242020e6;
}
.agile-footer-grid h4{
    color: #FFFFFF;
    font-size: 1.2em;
    margin: 0 0 1em 0;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}
.agile-footer-info p{
    color: #8d8d8d;
    font-size: .9em;
    margin: 0;
    line-height: 1.8em;
}
.agile-footer-info h5{
    color: #FFFFFF;
    font-size: 1em;
    margin: 1em 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.agile-footer-info input[type="email"] {
	width: 60%;
    color: #919191;
    background: none;
    outline: none;
    font-size: .9em;
    padding: .5em;
    border: solid 1px #919191;
    -webkit-appearance: none;
}
.agile-footer-info input[type="submit"] {
    outline: none;
    -webkit-appearance: none;
    border: solid 1px #ec8d25;
    font-size: .9em;
    color: #212121;
    padding: .5em 1em;
    text-transform: uppercase;
    text-decoration: none;
    background: #ec8d25;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.agile-footer-grid input[type="submit"]:hover {
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
    background: none;
}
.agile-post-left {
    padding-left: 0;
}
.agile-post-left a img{
	width:100%;
}
.agile-post-right h5{
	margin:0;
}
.agile-post-right h5 a{
    color: #FFFFFF;
    font-size: 1em;
    text-decoration: none;
    line-height: 1.8em;
}
.agile-post-right h5 a:hover{
    color: #ec8d25;
}
.agile-post-right p{
	color: #8d8d8d;
    font-size: .9em;
    margin: .5em 0 0 0;
    text-transform: uppercase;
}
.agile-post-grid:nth-child(2){
	margin:2em 0 0 0;
}
.popular-grids:last-child {
    margin: 1em 0 0 0;
}
.popular-grid {
    float: left;
    width: 27%;
    margin: 0 1em 0 0 !important;
}
.popular-grid a img {
    width: 100%;
    height: 60px;
    border: solid 2px #fff;
}
/*-- //footer --*/
/*-- copyright --*/
.agileits-w3layouts{
	text-align: center;
    padding: 1em 0;
    background: #0f1215;
}
.agileits-w3layouts p{
	color:#FFFFFF;
	font-size:.9em;
	margin:0;
	text-align: center;
}
.agileits-w3layouts p a{
	color:#EC8D25;
	text-decoration:none;
}
.agileits-w3layouts p a:hover{
    color: #ec8d25;
}
/*-- //copyright --*/
/*-- about --*/
.wthree-heading{
	padding:2em 0;
	text-align:center;
}
.wthree-heading h2{
	color:#FFFFFF;
}
/*-- courses --*/
.wthree_banner1_info{
	margin: 8em 0 0;
    text-align: right;
}
.wthree_banner1_info h3{
	font-size:2em;
	color:#fff;
}
.wthree_banner1_info h3 span{
	color:#ec9114;
}
.agileinfo_courses_flipster{
	width:70%;
	margin:0 auto;
}
.w3ls_courses_left {
    padding: 0 3em 0 0;
}
.w3ls_courses_left_grid h3 {
    color: #212121;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 0;
}
.categories i{
    color: #ec8d25;
    padding-right: 1em;
}

.w3ls_courses_left_grid h3 i {
    color: #ec8d25;
    padding-right: 1em;
}


.w3ls_courses_left_grid p{
    margin: 1em 0 0;
    color: #999;
    line-height: 1.8em;
    font-size: .9em;
}
.w3ls_courses_left_grid:nth-child(2){
	padding-top:2em;
}
.w3ls_courses_right p{
	margin-bottom:2em !important;
}
.agileits_courses_right img{
	width:100%;
}
/*-- //courses --*/
/*-- features --*/
.features{
	background: url(../images/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
}
.features-heading h3{
	color:#FFFFFF;
}
.agile_head1,.w3_agile_para1{
	color:#fff;
}
.agileits_w3layouts_features_grid{
	padding: 1em;
    background: #e7e4e4;
    border: 4px solid #fff;

}
.agileits_w3layouts_features_gridl {
    padding: 0;
}
.agileits_w3layouts_features_gridr {
    padding-left: 0;
}
.agile_feature_grid{
    width: 80px;
    height: 80px;
    background: #ec8d25;
    text-align: center;
    border: 4px solid #FFC107;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.w3_agileits_features_grid:hover .agile_feature_grid{
    background: #212121;
    border: 4px solid #000000;
}
.w3_agileits_features_grid:hover .agileits_w3layouts_features_gridr h4{
    color: #ec8d25;
}
.w3_agileits_features_grid:hover .agile_feature_grid i{
	color:#FFFFFF;
}
.agile_feature_grid i{
    font-size: 1.5em;
    color: #212121;
    line-height: 3em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.agileits_w3layouts_features_gridr h4{
    color: #212121;
    font-size: 1em;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: uppercase;
}
.agileits_w3layouts_features_gridr p{
    color: #999;
    line-height: 1.8em;
    margin: .5em 0 0 0;
    font-size: .9em;
}
.w3_agileits_features_grid:nth-child(4),.w3_agileits_features_grid:nth-child(5),.w3_agileits_features_grid:nth-child(6){
	padding-top:2em;
}
/*-- //features --*/
/*-- team --*/
.team{
    background: #e5eff1;
}
.agileinfo-team-grids{
	margin:4em 0 0 0;
}
.wthree-team-grid img{
	width:100%;
}
.wthree-team-grid-info{
	padding:1em;
	background:#FFFFFF;
}
.wthree-team-grid h4 {
    font-size: 1em;
    color: #11c3fe;
    margin: 0;
    font-weight: 600;
}
.wthree-team-grid p {
    margin:.5em 0;
    color: #999999;
    font-size: .9em;
}
.team-social-grids ul {
    padding: 0;
    margin: 0;
}
.team-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.team-social-grids ul li a {
    text-align: center;
}
.team-social-grids ul li a i.fa{
	height: 30px;
    width: 30px;
    border: solid 2px #FFFFFF;
    line-height: 29px;
    background: none;
    color: #b2b2b2;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
	background:#3b5998;
    color: #FFFFFF;
}
.team-social-grids ul li a i.fa.fa-twitter:hover{
	border: solid 2px #55acee;
	background:#55acee;
	color: #FFFFFF;
}
.team-social-grids ul li a i.fa.fa-rss:hover{
	border: solid 2px #f26522;
	background:#f26522;
	color: #FFFFFF;
}
/*-- //team --*/
/*-- //about --*/
/*-- gallery --*/

/*-- gallery --*/
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background: rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
	background: #ec8d25;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
    font-size: 1em;
    color: #212121 !important;
    margin: 30px 0 15px;
    text-transform: uppercase;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 2em;
    color: #2f2f2f;
    margin: 0;
    letter-spacing: 1px;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.icons .bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.icons .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.icons .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.icons .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
ul.bs-glyphicons-list {
    padding: 0;
    margin: 0;
}
/*-- //icons --*/
/*-- typography --*/
h3.hdg {
    font-size: 2.5em;
	color:#000 !important;
}
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #555;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg {
	margin-bottom:1em;
	color: #333;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 5px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #555;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
  background-color: #ece6e1;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px !important;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.81em;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 12px!important;
	}
	.codes .row {
		margin: 0;
	}
}
/*-- //typography --*/
/*-- blog --*/
.blog-info{
	text-align:center;
}
.blog-left {
  margin: 0em 0 2em 0;
}
.blog-left-right {
  margin-top: 1em;
}
.blog-left-right a{
    text-decoration: none;
    margin: 1em 0 1em 0;
    font-size: 1em;
    color: #212121;
    text-transform: uppercase;
    font-weight: 800;
}
.blog-left-right a:hover{
    text-decoration: none;
    color: #ec8d25;
}
.blog-left-left {
	padding: 0 !important;
}
.blog-left-left p{
	margin: 0 0 1em;
    font-size: .9em;
    color: #999;
}
.blog-left-left p a {
    color: #000000;
    text-decoration: none;
}
.blog-left-left p a:hover{
	color:#ec8d25;
}
.blog-left-left a img{
	width:100%;
}
.blog-left-right p{
    margin: 1em 0 0 0;
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
}
ul.pagination {
  margin: 2em 0 0;
}
.blog-top-left-grid {
    float: right;
}
.blog-top-right-grid {
    float: left;
}
.categories {
	margin:0;
}
.categories h3{
	text-decoration: none;
    margin: 2em 0 1em 0;
    font-size: 1em;
    color: #555;
    text-transform: uppercase;
    font-weight: 600;
}
.categories ul{
	margin:0;
	padding:0;
}
.categories ul li{
    display: block;
    margin-bottom: 1em;
}
.categories ul li a{
    font-size: .9em;
    margin: 0;
    color: #999999;
}
.categories ul li a:hover{
	color: #ec8d25;
    text-decoration: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.comments{
	margin: 4em 0;
}
.comments h3{
	text-decoration: none;
    margin: 1em 0 1em 0;
    font-size: 1em;
    color: #212121;
    text-transform: uppercase;
    font-weight: 800;
}
.comments-left{
    padding: .5em;
    border: 1px solid #000000;
}
.comments-left img{
	width:100%;
}
.comments-right h5{
    font-size: 1.1em;
    margin: 0 0 .5em 0;
    color: #000000;
    font-weight: 600;
}
.comments-right a{
    font-size: 1em;
    margin: 0;
    color: #575353;
    text-decoration: none;
}
.comments-right a:hover{
	text-decoration:none;
}
.comments-right p{
	display: block;
    color: #999999;
    margin: .3em 0 0 0;
    font-size: .9em;
}
.comments-text {
	padding: 1.5em 0;
	border-bottom: 1px solid #868686;
}
.comments-text:nth-child(4) {
	border: none;
}
.pagination > li > a, .pagination > li > span {
    color: #999999;
}
/*-- single --*/
.single-left-left p{
    margin: 0 0 1em;
    font-size: .9em;
    font-weight: 500;
    color: #999999;
}
.single-left-left p a {
    color: #000000;
    text-decoration: none;
}
.single-left-left img{
	width:100%;
}
.left-single{
}
.response {
    margin-bottom: 5em;
}
.response h3 {
    margin: 0 0 1em 0;
    text-decoration: none;
    font-size: 1em;
    color: #212121;
    text-transform: uppercase;
    font-weight: 800;
}
.media.response-info {
    margin-top: 3em;
}
.media-left.response-text-left {
    width: 13%;
    float: left;
}
.media-left.response-text-left a img {
    width: 80%;
}
.media-left.response-text-left h5 a {
    color: #ec8d25;
}
.response-text-left h5 {
    font-size: 1em;
    margin: 1em 0 0 0;
    color: #000;
}
.response-text-right p {
    margin: 1em 0 0 0;
    color: #BBBBBB;
    font-size: .875em;
    line-height: 1.8em;
}
.response-text-right ul {
    padding: 0;
    text-align: right;
}
.response-text-right ul li {
    display: inline-block;
    color: #AFAFAF;
    font-size: .9em;
    margin-right: 1em;
}
.response-text-right ul li a {
    color: #ec8d25;
    font-size: .9em;
    text-decoration: none;
}
.media.response-info {
    margin-top: 3em;
}
.opinion h3{
    margin: 0 0 1em 0;
    text-decoration: none;
    font-size: 1em;
    color: #212121;
    text-transform: uppercase;
    font-weight: 800;
}
.opinion form input[type="text"],.opinion form input[type="email"]{
    width: 100%;
    color: #898888;
    outline: none;
    font-size: 1em;
    padding: .5em;
    margin: 0 .5em 1em 0;
    border: solid 1px #D5D4D4;
    -webkit-appearance: none;
}
.opinion form textarea {
	resize: none;
	width: 100%;
	color: #898888;
	font-size: 1em;
	outline: none;
	resize:none;
	padding: .5em;
	border: solid 1px #D5D4D4;
	min-height: 125px;
	-webkit-appearance: none;
}
.opinion form input[type="submit"] {
    outline: none;
    -webkit-appearance: none;
    border: solid 1px #ec8d25;
    font-size: .9em;
    color: #212121;
    font-weight: 600;
    padding: .7em 1em;
    text-decoration: none;
    letter-spacing: 1px;
    background: #ec8d25;
    margin: 1em 0 0;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.opinion form input[type="submit"]:hover {
	color:#2f2f2f;
	border: solid 1px #2f2f2f;
	background:none;
}
.blog-left-bottom p{
    margin: 1em 0 0 0;
    color: #BBBBBB;
    font-size: .875em;
    line-height: 1.8em;
}
.blog-left-bottom {
	margin: .5em 0;
}
/*-- //blog --*/
/*-- contact --*/
.contact{
	padding:4em 0;
    background: #f9f9fb;
}
.contact h4 {
    margin: 0 0 1em;
    font-size: 1em;
    color: #212121;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
}
.map iframe {
	width: 100%;
	height: 340px;
    border: none;
}
.address {
     margin: 6em 0 0;
}
.address-grids {
	padding: 0;
}
.address h4 {
  margin: 0 0 .5em;
}
.contact-infom {
   margin: 4em 0;
}
.address p {
    margin: 0 0 .3em 0;
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
}
.address ul{
	padding:0;
	margin:0;
}
.address ul li{
	display: inline-block;
}
.address a {
    color: #353535;
    font-size: .9em;
    letter-spacing: 1px;
    transition: .5s all;
}
.address a:hover {
    color: #ec8d25;
    text-decoration: none;
}
.contact-infom p {
    margin: 0;
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
}
.contact-form {
    margin: 3em 0 0;
}
.contact-form input[type="text"] {
  display: inline-block;
  background: none;
  border:solid 1px #999999;
  width: 31.9%;
  outline: none;
  padding:.5em;
  font-size: .9em;
  color: #999999;
  margin-bottom: 1.5em;
}
.contact-form input[type="email"] {
  display: inline-block;
  background: none;
  border:solid 1px #999999;
  width: 31.9%;
  outline: none;
  padding:.5em;
  font-size: .9em;
  color: #999999;
  margin-bottom: 1.5em;
  margin: 0 1.25em;
}
.contact-form textarea {
  display: inline-block;
  background: none;
  border:solid 1px #999999;
  width: 100%;
  outline: none;
  padding:.5em;
  font-size: .9em;
  color: #999999;
  margin-bottom: 1.5em;
  min-height:150px;
}
button.btn1{
	color: #212121;
    font-size: 1em;
    padding: .5em 1em;
    border: solid 1px #212121;
    text-align: center;
    text-decoration: none;
    background: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
button.btn1:hover {
    background: #ec8d25;
	border: solid 1px #ec8d25;
    color: #212121;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*-- //contact --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- responsive --*/
@media(max-width:1440px){
	ul.dropdown-menu {
		min-width: 145px;
	}
}
@media(max-width:1080px){
	.agileits-banner-left h3 {
		font-size: 4em
	}
	.top-nav-info {
		padding: 0 11em;
	}
	.nbs-flexisel-nav-left {
		left: 90%;
	}
	.agileits_testimonials_right_grid:before {
		left: -4%;
	}
	.agile_feature_grid {
		width: 60px;
		height: 60px;
	}
	.agile_feature_grid i {
		line-height: 2em;
	}
	.icon-box {
		padding: 8px 4px;
		font-size: .9em;
	}
	ul.dropdown-menu {
		min-width: 115px;
	}
	.contact-form input[type="text"] {
		width: 31.7%;
	}
}
@media(max-width:991px){
	.top-nav-info {
		padding: 0 8em;
	}
	.agileits-banner-left {
		margin: 1em 0 0 0;
	}
	.callbacks_tabs {
		left: 47%;
	}
	.agileits_updates_grid_right {
		margin: 2em 0 0 0;
	}
	.wthree-services-grid {
		margin: 2em 0 0 0;
	}
	.wthree-services-grid:nth-child(1){
		margin:0;
	}
	.wthree-services-right {
		margin: 2em 0;
	}
	.agileits_testimonials_right_grid:before {
		left: -2%;
	}
	.agile-footer-grid:nth-child(2){
		margin:2em 0;
	}
	.agile-post-left {
		float: left;
		width: 30%;
	}
	.agile-post-right {
		float: left;
		width: 70%;
	}
	.agileits_courses_right {
		margin: 2em 0 0 0;
	}
	.w3_agileits_features_grid {
		float: left;
		width: 50%;
	}
	.w3_agileits_features_grid:nth-child(3),.w3_agileits_features_grid:nth-child(4), .w3_agileits_features_grid:nth-child(5), .w3_agileits_features_grid:nth-child(6) {
		padding-top: 2em;
	}
	.wthree-team-grid {
		width: 50%;
		float: left;
	}
	.wthree-team-grid:nth-child(3),.wthree-team-grid:nth-child(4){
		margin:2em 0 0 0;
	}
	.gallery-grid {
		float: left;
		width: 50%;
	}
	.comments-left {
		float: left;
		width: 20%;
	}
	.comments-right {
		float: left;
		width: 80%;
	}
	.comments {
		margin: 4em 0 0 0;
	}
	.blog-top-right-grid {
		margin: 2em 0 0 0;
	}
	.contact-form input[type="text"] {
		width: 31%;
	}
}
@media(max-width:800px){
	.w3layouts-logo h1 a {
		font-size: 1.1em;
	}
	.top-nav-info {
		padding: 0 1em;
	}
	.w3layouts-slider {
		padding: 5em 0;
	}
	.callbacks_tabs {
		top: 105%;
	}
	.nbs-flexisel-nav-left {
		top: -14% !important;
	}
	.nbs-flexisel-nav-right {
		top: -14% !important;
	}
}
@media(max-width:736px){
	.navbar-toggle {
		margin-right: 0;
		float: none;
	}
	.navbar {
		text-align: center;
	}
	.top-nav ul li {
		display: block;
		float: none;
		width: 100%;
	}
	.top-nav ul li a {
		padding: .5em 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    border: none;
		background: rgba(0, 0, 0, 0.77);
		position: absolute;
		width: 100%;
		z-index: 999;
	}
	.w3_testimonials_right_grid:before {
		right: -2% !important;
	}
	.agileits_w3layouts_features_gridr {
		padding: 0;
	}
	.address-grids:nth-child(2){
		margin:2em 0;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #ec8d25;
	}
}
@media(max-width:667px){
	.w3layouts-logo h1 a {
		font-size: 1em;
	}
	.agileinfo-social-grids {
		margin: 0.6em 0 0 0;
	}
	.address-info-text p {
		margin: 0.6em 0 0 0;
        text-align: center;
	}
	.header {
		padding: 2em 0;
	}
	.agileits_testimonials_right_grid:before {
		left: -10px;
	}
	.w3_testimonials_right_grid:before {
		right: -10px !important;
	}
	.agileits_w3layouts_features_gridr h4 {
		letter-spacing: 2px;
	}
	.contact-form input[type="text"] {
		width: 30%;
	}
}
@media(max-width:600px){
	.w3layouts-logo h1 a {
		font-size: .8em;
	}
}
@media(max-width:568px){
	.agileits-heading h2, .agileits-heading h3, .wthree-heading h2 {
		font-size: 3em;
	}
	.contact-form input[type="text"] {
		width: 29.6%;
	}
	.agileits-banner-left h3 {
		font-size: 3em;
	}
	.agileinfo-banner-right p {
		width: 100%;
	}
	.banner-border {
		margin: 1em auto 1em;
	}
	.callbacks_tabs {
		left: 46%;
	}
}
@media(max-width:480px){
	.agileinfo-social-grids {
		margin: 0;
		float: none;
		text-align: center;
		width: 100%;
	}
	.w3layouts-logo {
		float: none;
		width: 100%;
		margin: .5em 0;
	}
	.address-info-text {
		float: none;
		width: 100%;
	}
	.header {
		padding: 1em 0;
	}
	.w3layouts-slider {
		padding: 3em 0;
	}
	.agileits-banner-left h3 {
		font-size: 2em;
	}
	.callbacks_tabs {
		left: 44%;
		top: 100%;
	}
	.about-w3layouts, .services, .services-bottom, .testimonials, footer, .courses, .features, .team, .gallery, .codes, .typography, .blog, .contact {
		padding: 2em 0;
	}
	.about-top-grids, .services-grids, .wthree-services-bottom-grids, .wthree_testimonial_grids, .w3_agileits_features_grids, .agileinfo-team-grids {
		margin: 4em 0 0 0;
	}
	.agileits-heading h2, .agileits-heading h3, .wthree-heading h2 {
		font-size: 2.5em;
	}
	.nbs-flexisel-nav-left {
		left: 91%;
	}
	.nbs-flexisel-nav-left {
		top: -11% !important;
	}
	.nbs-flexisel-nav-right {
		top: -11% !important;
	}
	.agileinfo_testimonials_left {
		text-align: center;
		width: 100%;
		float: none;
	}
	.agileinfo_testimonials_left img {
		width: 30%;
	}
	.agileinfo_testimonials_right {
		float: none;
		width: 100%;
		margin: 1em 0 0 0;
	}
	.agileits_testimonials_right_grid:before {
		left: 195px;
		top:-15px;
		transform: rotate(91deg);
	}
	.agileinfo_testimonials_left {
		margin: 2em 0 0 0;
	}
	.w3_testimonials_right_grid:before {
		right: 195px !important;
		top: 118px !important;
	}
	.wthree_testimonial_grid_right {
		margin-top: 2em;
	}
	.w3_agileits_features_grid {
		float: none;
		width: 100%;
	}
	.w3_agileits_features_grid:nth-child(2),.w3_agileits_features_grid:nth-child(3), .w3_agileits_features_grid:nth-child(4), .w3_agileits_features_grid:nth-child(5), .w3_agileits_features_grid:nth-child(6) {
		padding-top: 2em;
	}
	.agileits_w3layouts_features_gridl {
		padding: 0;
		float: none;
		text-align: center;
		width: 100%;
	}
	.agile_feature_grid {
		width: 60px;
		height: 60px;
		margin: 0 auto;
	}
	.agileits_w3layouts_features_gridr {
		padding: 0;
		width: 100%;
		float: none;
		text-align: center;
		margin: 1em 0 0 0;
	}
	figure.effect-apollo p {
		margin: 1em;
	}
	.address {
		margin: 2em 0 0;
	}
	.contact-infom {
		margin: 2em 0;
	}
}
@media(max-width:414px){
	.w3layouts-slider {
		padding: 2em 0;
	}
	.wthree-services-right {
		margin: 1em 0;
	}
	.agileits_testimonials_right_grid:before {
		left: 160px;
	}
	.w3_testimonials_right_grid:before {
		right: 160px !important;
	}
	.left-single {
		padding: 0;
	}
	.blog-left {
		padding-right: 0;
	}
	.media-left.response-text-left {
		width: 23%;
	}
	.response {
		margin-bottom: 2em;
	}
	.wthree-team-grid {
		width: 100%;
		float: none;
	}
	.wthree-team-grid:nth-child(2),.wthree-team-grid:nth-child(3), .wthree-team-grid:nth-child(4) {
		margin: 2em 0 0 0;
	}
	.agileits-heading h2, .agileits-heading h3, .wthree-heading h2 {
		font-size: 2em;
	}
	.gallery-grid {
		float: none;
		width: 100%;
	}
	ul.pagination {
		margin: 0em 0 0;
	}
	.blog-top-right-grid {
		margin: 1em 0 0 0;
	}
	.icons .bs-glyphicons li {
		width: 31.33%;
	}
	h3.agileits-icons-title {
		font-size: 1.5em;
	}
	.contact-form input[type="text"] {
		width: 100%;
	}
	.contact-form input[type="email"] {
		margin: 0 0 1.5em 0;
		width:100%;
	}
}
@media(max-width:384px){
	.agileits_testimonials_right_grid {
		padding: .5em;
	}
	.w3_testimonials_right_grid:before {
		right: 145px !important;
		top: 87px !important;
	}
	.agileits_testimonials_right_grid:before {
		left: 145px;
	}
	.wthree-heading {
		padding: 1em 0;
	}
}
@media(max-width:375px){
	.w3_testimonials_right_grid:before {
		top: 112px !important;
	}
	.wthree_testimonial_grid_right h3 {
		font-size: .9em;
	}
	.media.response-info {
		margin-top: 2em;
	}
}
@media(max-width:320px){
	.w3layouts-logo h1 a {
		font-size: .7em;
	}
	.agileinfo-banner-right h5 {
		letter-spacing: 1px;
	}
	.callbacks_nav {
		background: transparent url(../images/arrows.png) no-repeat left top;
		background-size: 203%;
		bottom: 70px;
		width: 30px;
		height: 30px;
	}
	.agileits-banner-left h3 {
		font-size: 1.5em;
	}
	.agileits-banner-left h4 {
		font-size: .8em;
	}
	.callbacks_tabs {
		left: 41%;
		top: 97%;
	}
	.w3layouts-slider {
		padding: 1em 0 2em 0;
	}
	.agileinfo-banner-right p {
		line-height: 1.5em;
	}
	.agileinfo-banner-right {
		padding: 0;
	}
	.banner-border {
		margin: .5em auto;
	}
	.wthree-services-icon i.fa {
		font-size: 1.5em;
		padding: 1em;
		width: 80px;
		height: 80px;
	}
	.agileits-heading h2, .agileits-heading h3, .wthree-heading h2 {
		font-size: 1.5em;
	}
	.services-bottom-icon {
		float: left;
		width: 20%;
	}
	.agileits_testimonials_right_grid:before {
		left: 115px;
	}
	.w3_testimonials_right_grid:before {
		right: 115px !important;
	}
	.agile-footer-info input[type="email"] {
		width: 100%;
	}
	.agile-footer-info input[type="submit"] {
		margin: 1em 0 0 0;
	}
	.popular-grid {
		width: 26%;
	}
	.blog-left {
		margin: 0em 0 1em 0;
	}
	.media-left.response-text-left {
		width: 26%;
	}
	.w3ls_courses_left_grid h3 {
		letter-spacing: 1px;
	}
	.map iframe {
		height: 250px;
	}
	.contact h4 {
		letter-spacing: 1px;
	}
}
/*-- //responsive --*/




/*--project-styling--*/
figure {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
}
figure:hover figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    top: 0;
}
figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: -100%;
    background: rgba(0,0,0,.5);
    color: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
figcaption h3 {
    font-weight: 600;
    font-size:1.7em;
    color: #f44639;
    padding: 10px 20px;
    margin-bottom: 0;
    position: relative;
    left: 100%;
    margin-top: 55px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
}
figcaption p {
    padding: 10px 20px;
    margin-bottom: 0;
    position: relative;
    left: 100%;
    font-size: 0.9em;
    line-height: 2em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1.3s;
    -moz-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    -ms-transition-delay: 1.3s;
    transition-delay: 1.3s;
}
figure:hover h3,figure:hover p {
    left: 0;
}
figcaption a {
    color: #fff;
    border: 2px solid #fff;
    padding: 4px 10px;
    text-decoration: none;
}
figcaption a:hover {
    color: #4f5856;
    background: #fff;
}
.gallery {
    padding: 3em 0;
}
.ga-top{
    margin-bottom:3em;
}
.ga-top h3 {
    text-align: center;
    font-size: 2.5em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}
.ga-top p {
    color: #777;
    font-size: 1.1em;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
}
/*--//project-styling--*/
/*--filtr-item--*/
.filtr-item {
    padding: 0.3em;
    width: 33.3335%;
    float: left;
}
.filtr-container {
    width:100%;
}
.item-desc {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
}
/* Filter controls */
.simplefilter li, .multifilter li, .sortandshuffle li {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1em;
    margin: 0 0.4em;
    letter-spacing: 1px;
    background: #333;
}
.simplefilter li {
    border: 2px solid #333;
}
.simplefilter li.active {
    border: 2px solid #f44639;
    color: #fff;
    background: #f44639;
}
/* Shuffle and sort controls */
select {
    padding: 1rem 1rem;
    text-transform: uppercase;
}
.sortandshuffle .shuffle-btn {
    background-color: #dec800;
}
.sortandshuffle .sort-btn {
    background-color: #de0000;
}
.sortandshuffle .sort-btn.active {
    background-color: #9d0000;
}
/*----*/

/*----*/
ul.simplefilter {
    text-align: center;
    margin-bottom: 3em;
}
@media(max-width:991px){
.filtr-item{
    float:left;
    width:33.33%;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 10px 13px;
    font-size: 1em;
}
}
@media(max-width:768px){
.filtr-item{
    float:left;
    width:50%;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 8px 10px;
    font-size: 0.9em;
    letter-spacing: 0px;
}
}
@media(max-width:600px){
.filtr-item {
    padding: 0em;
}
ul.simplefilter {
    margin-bottom: 0em;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    margin-bottom: 1em;
}

}
@media(max-width:414px){
ul.simplefilter {
    margin-bottom: 0em;
}
.filtr-item{
    width:100%;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 4px 4px;
    font-size: 0.8em;
    letter-spacing: 0px;
    margin-bottom: 1em;
}
}
/*--//filtr-item--*/
/*-- //projects--*/


